@model Productos
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Productos";
}

<div class="row" style="margin-top: 60px;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">

                        <section id="nuevoProducto">
                            <form method="post" asp-controller="Productos" asp-action="Add">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for=" nombre" class=" control-label"></label>
                                    <span class="text-danger">
                                        (*)
                                    </span>
                                    <input asp-for="nombre" class="form-control" />
                                    <span asp-validation-for="nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="descripcion" class=" control-label">Descripción</label>
                                    <input asp-for="descripcion" class="form-control" />
                                    <span asp-validation-for="descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Stock" class=" control-label"></label>
                                    <input asp-for="Stock" class="form-control" />
                                    <span asp-validation-for="Stock" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Precio" class=" control-label"></label>
                                    <input asp-for="Precio" class="form-control" />
                                    <span asp-validation-for="Precio" class="text-danger"></span>
                                </div>
                                <div class="custom-file">
                                    <label asp-for="Imagen" class=" control-label"></label>
                                    <input type="file" asp-for="Imagen" class="custom-file-input" />
                                    <span asp-validation-for="Imagen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoriaID" class=" control-label">Categoría</label>
                                    <select asp-for="CategoriaID" asp-items="ViewBag.categoriaID" class=" form-control"></select>
                                    <span asp-validation-for="CategoriaID" class="text-danger"></span>
                                </div>


                                <div class="col-sm-12" style="margin: 10px;">
                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                        <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
