@model Ventas
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Ventas";
}

<div class="row" style="margin-top: 60px;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <section id="nuevaVenta">
                            <form method="post" asp-controller="Ventas" asp-action="Add">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-12" style="margin: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Articulos" class=" control-label"></label>
                                            <input asp-for="Articulos" class="form-control" />
                                            <span asp-validation-for="Articulos" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MontoTotal" class=" control-label"></label>
                                            <input asp-for="MontoTotal" class="form-control" />
                                            <span asp-validation-for="MontoTotal" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProductoID" class=" control-label"></label>
                                            <select asp-for="ProductoID" asp-items="ViewBag.ProductoID" class=" form-control"></select>
                                            <span asp-validation-for="ProductoID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin: 10px;">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                        <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

