@page
@model ECOCEANO.Views.Home.PortafolioModel
@{
    ViewBag.Title = "Portafolio";
}

@section Styles {
    <link href="@Url.Content("~/css/portafolio.css")" rel="stylesheet" type="text/css" />
}

<section id="galeria" class="container">
    <div class="text-center pt-5">
        <h1>Portafolio</h1>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/1.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/2.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/3.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/4.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/5.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/6.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/7.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/8.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/9.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/10.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/11.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/12.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/13.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/14.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/15.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/16.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/17.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/18.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/19.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/20.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/21.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/22.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/23.jpeg" alt=""/>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="~/Img/portafolio/24.jpeg" alt=""/>
        </div>
    </div>
</section>