@model Categorias
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Registrar Categoría";
}

<div class="row" style="margin-top: 60px;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">

                        <section id="nuevaCategoria">
                            <form method="post" asp-controller="Categorias" asp-action="Add">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-12" style="margin: 10px;">
                                        <div class="form-group">
                                            <label asp-for=" nombre" class=" control-label">Categoría</label>
                                            <span class="text-danger">
                                                (*)
                                            </span>
                                            <input asp-for="nombre" class="form-control" />
                                            <span asp-validation-for="nombre" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12" style="margin: 10px;">
                                        <div class="form-group">
                                            <input type="submit" value="Guardar" class="btn btn-primary" />
                                            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }